<a href="https://colab.research.google.com/github/AHAAkash/Basic-Python/blob/main/11_Map%2CReduce%26Filter_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Map, Reduce & Filter
**Area of a circle**

In [1]:
import math
def area(r):
    return math.pi*(r**2)

radii = [1,2,3,4,5]
areas = []
for r in radii:
    a = area(r)
    areas.append(a)

In [2]:
print(areas)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

# map(f,iterable object)

In [3]:
map(area, radii)  #created mao() function

In [4]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

# Convert Celcius scale to Farheneit
F = 9/5*C + 32

In [5]:
temps = [("Dhaka", 35), ("Berlin", 12), ("Tokyo", 25), ("Hong Kong", 31), ("Sydney", 30), ("Abu Dhabi", 35)]
cel_to_f = lambda data:(data[0], (9/5)*data[1]+32)
list(map(cel_to_f, temps))

[('Dhaka', 95.0),
 ('Berlin', 53.6),
 ('Tokyo', 77.0),
 ('Hong Kong', 87.80000000000001),
 ('Sydney', 86.0),
 ('Abu Dhabi', 95.0)]

# Filter Function - filters out the data
filter(f, data)

In [6]:
import statistics
data = [1,2,3,4,5,6,7,8,9,10]
avg = statistics.mean(data)
print(avg)

5.5

In [7]:
filter(lambda x:x>avg, data)

In [8]:
list(filter(lambda x:x>avg, data))

[6, 7, 8, 9, 10]

In [9]:
name = ["Ravi", "Shyam", "Ram", 0, 0.0, "", "Kuber"]
filter(None, name)
list(filter(None, name))

['Ravi', 'Shyam', 'Ram', 'Kuber']

In [11]:
number = [12, 15, 20, 0, 0.0]
list(filter(None, number))  #Filter function reduce filter function

[12, 15, 20]

# Reduce Function
reduce(f, data)

In [ ]:
from functools import reduce

In [13]:
from functools import reduce

data = [1,2,3,4,5]
multiplier = lambda x,y: x*y
reduce(multiplier, data)

120