<a href="https://colab.research.google.com/github/AHAAkash/Basic-Python/blob/main/5_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Lists**
*   Lists are ordered sequence of mixed data types
*   Lists are written in comma separated elements within square brackets
*   Lists are used to store multiple items in a single variable.
*   Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

*> Lists are created using square brackets:

In [1]:
#Create a List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
list1 = ["Bangladesh", 5, "Dhaka"]
list1

['Bangladesh', 5, 'Dhaka']

In [7]:
print(len(list1)) #length  ---->>   len()
print(type(list1))

"""
List Length
To determine how many items a list has, use the len() function

"""

3
<class 'list'>

'\nList Length\nTo determine how many items a list has, use the len() function\n\n'

# **List Items**
-->> List items are ordered, changeable, and allow duplicate values.

-->> List items are indexed, the first item has index [0], the second item has index [1] etc.



# **Ordered**
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

# **Changeable**
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# **Allow Duplicates**
Since lists are indexed, lists can have items with the same value:

In [6]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [8]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [10]:
print(thislist[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [12]:
#This example returns the items from the beginning to, but NOT including, "kiwi":
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
#This example returns the items from "cherry" to the end:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

#Nested list - List within a List

In [14]:
#Nested list - List within a List

list2 = ["Bangladesh", "Dhaka", 5, 10, ["Ruh", "Akash"]]
len(list2)

5

In [15]:
list2[-1][1]

'Akash'

In [16]:
list2[4][1]

'Akash'

# Check if Item Exists
## To determine if a specified item is present in a list use the
                         âœˆ in
 keyword:

In [17]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# **Change Item Value**
To change the value of a specific item, refer to the index number:

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# **Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Slicing

In [6]:
list2 = ["Bangladesh", "Dhaka", 5, 10, ["Ruh", "Akash"]]
list2[-1]

['Ruh', 'Akash']

In [8]:
list2[4][0]

'Ruh'

# Append Items
To add an item to the end of the list, use the append() method:

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# **Insert Items**
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# Extend List
To append elements from another list to the current list, use the extend() method.

In [12]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
thislist1 = ["apple", "banana", "cherry"]
thistuple1 = ("kiwi", "orange")
thislist1.extend(thistuple1)
print(thislist1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item
The remove() method removes the specified item.


>If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# Remove Specified Index
The pop() method removes the specified index.

>>If you do not specify the index, the pop() method removes the last item.

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

The del keyword also removes the specified index:

In [15]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]  #Delete the entire list:
del thislist

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List
You can loop through the list items by using a for loop:

In [19]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [20]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]  #Using a While Loop
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

**Looping Using List Comprehension**

In [21]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [22]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [26]:
#newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [27]:
newlist = [x for x in range(10)]

In [28]:
newlist = [x for x in range(10) if x < 5]

In [29]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [33]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [34]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [35]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

# Sort Descending
To sort descending, use the keyword argument reverse = True:

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [37]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

# Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [38]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Difference between sort & sorted

In [39]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [40]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

In [41]:
#shallow copy
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

['Oranges', 'Strawberry', 'Mango']
['Oranges', 'Strawberry', 'Mango']

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [42]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [43]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

![image.png]()