<a href="https://colab.research.google.com/github/AHAAkash/Basic-Python/blob/main/7_DIctionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

1.   Dictionary stores element as keys and value pairs
2.   The key is like an index, its always unique & immutable

1.   The values are the objects that contain information
2.   Values are accessed using their keys

1.   Each key is followed by a value separated by a colon
2.   The values can be immutable, mutable, & duplicates. Each key and value pair is separated by a comma enclosed inside curly brackets

In [2]:
# Creating a dictionary
d1 = {"Bangladesh": "INR", "USA": "USD", "Hong Kong": "HKD"}
# Accessing value using keys
d1["Bangladesh"]

'INR'

In [3]:
# Replacing the value for a key in a dictionary

d1["Bangladesh"] = "NEW"
d1

{'Bangladesh': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [4]:
d1["Japan"] = "YEN"

In [5]:
d1

{'Bangladesh': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [6]:
# Inserting a new key-value pair
d1["Japan"] = "YEN"
d1

{'Bangladesh': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [8]:
# Deleting a key value pair
del d1["Japan"]
d1

{'Bangladesh': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [9]:
# Sorting a dictionary
sorted(d1)

['Bangladesh', 'Hong Kong', 'USA']

In [10]:
# values() method
d1.values()

dict_values(['NEW', 'USD', 'HKD'])

In [11]:
# keys() method

d1.keys()

dict_keys(['Bangladesh', 'USA', 'Hong Kong'])

In [ ]:
# get() method

d1.get('Bangladesh')

In [12]:
# update() method

d1.update({"Bangladesh": "TK"})
d1["Bangladesh"] = "TK"

d1

{'Bangladesh': 'TK', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [13]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [15]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [16]:
print(myfamily["child2"]["name"])

Tobias