# Sorting and aggregration

Sort in column using sort_values() method:

`df.sort_values(by="column_name",True(For acending_order)/ False(For decending order),inplace=True)`

In [2]:
import pandas as pd
df = pd.read_csv("data.csv")
print(df)
df.sort_values(by="Pulse",ascending=False,inplace=True)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
     Duration  Pulse  Maxpulse  Calories
80         30    159       182     319.2
58         20    153       172     226.4
97         25    152       168     244.2
95         20    151       168     229.4
85         30    151       170     300.0
..        ...    ...       ...       ...
107        30     90       120      86.2
160        30     85       120     250.4
89         20     83       107      50.3
93         15     80       100      50.5
159        30     80       120     240.9

[169 rows x 4 columns]

In [5]:
grouped = df.groupby(["Duration", "Pulse"])["Calories"].sum()
print(grouped)

Duration  Pulse
15        80         50.5
          124       124.2
20        83         50.3
          95         77.7
          106       110.4
                    ...
180       101       600.1
210       108      1376.0
          137      1860.4
270       100      1729.0
300       108      1500.2
Name: Calories, Length: 94, dtype: float64

In [ ]:
grouped = df.groupby(["Duration"])["Calories"].sum()
print(grouped)

# **Marging and Joining**

MArging?

Marging is a combination of 2 or more dataframe based on a key column

Syntex:
`pd.merge(df1,df2, on="Column_name", how="Types of join")`

In [7]:
import pandas as pd

# Create sample dataframes
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Age': [30, 35, 25, 28]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# Inner merge
# Returns only rows where the 'ID' is present in both dataframes
inner_merge_df = pd.merge(df1, df2, on='ID', how='inner')
print("\nInner Merge:")
print(inner_merge_df)

# Outer merge
# Returns all rows from both dataframes, filling missing values with NaN
outer_merge_df = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Merge:")
print(outer_merge_df)

# Left merge
# Returns all rows from the left dataframe (df1), and matching rows from the right dataframe (df2)
left_merge_df = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Merge:")
print(left_merge_df)

# Right merge
# Returns all rows from the right dataframe (df2), and matching rows from the left dataframe (df1)
right_merge_df = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Merge:")
print(right_merge_df)

DataFrame 1:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

DataFrame 2:
   ID  Age
0   3   30
1   4   35
2   5   25
3   6   28

Inner Merge:
   ID     Name  Age
0   3  Charlie   30
1   4    David   35

Outer Merge:
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  30.0
3   4    David  35.0
4   5      NaN  25.0
5   6      NaN  28.0

Left Merge:
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  30.0
3   4    David  35.0

Right Merge:
   ID     Name  Age
0   3  Charlie   30
1   4    David   35
2   5      NaN   25
3   6      NaN   28

# Concetenation

Types:
1. Vertically -->> Row-wise
2. Horizontally -->> Column-wise

In [8]:
import pandas as pd

# Create sample dataframes for vertical concatenation
df_v1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df_v2 = pd.DataFrame({
    'A': [5, 6],
    'B': [7, 8]
})

print("DataFrame for vertical concatenation 1:")
print(df_v1)
print("\nDataFrame for vertical concatenation 2:")
print(df_v2)

# Vertical concatenation (row-wise)
vertical_concat_df = pd.concat([df_v1, df_v2], axis=0)
print("\nVertical Concatenation:")
print(vertical_concat_df)

# Create sample dataframes for horizontal concatenation
df_h1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df_h2 = pd.DataFrame({
    'C': [5, 6],
    'D': [7, 8]
})

print("\nDataFrame for horizontal concatenation 1:")
print(df_h1)
print("\nDataFrame for horizontal concatenation 2:")
print(df_h2)

# Horizontal concatenation (column-wise)
horizontal_concat_df = pd.concat([df_h1, df_h2], axis=1)
print("\nHorizontal Concatenation:")
print(horizontal_concat_df)

DataFrame for vertical concatenation 1:
   A  B
0  1  3
1  2  4

DataFrame for vertical concatenation 2:
   A  B
0  5  7
1  6  8

Vertical Concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

DataFrame for horizontal concatenation 1:
   A  B
0  1  3
1  2  4

DataFrame for horizontal concatenation 2:
   C  D
0  5  7
1  6  8

Horizontal Concatenation:
   A  B  C  D
0  1  3  5  7
1  2  4  6  8